{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "auto"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}